           
fieldset {
    padding: 55px;
}

          
#logotipo {
    float: left;
    padding: 50px;
}

#candidato{
    float: right;
    padding: 20px;
    width: 20%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button {
    width: 80px;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.19);
    font-size: 35px;
      
}

#confirmar{
    background-color: lightgreen;
    font-size: medium;
    width: 100px;
    height: 80px;
}

#corrigir{
    background-color: orange;
    font-size: medium;

}

#votoBranco{
    background-color: white;
    font-size: medium;
}

